In [2]:
import pandas as pd
# creating dataframe
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# counting gender elements by category
df_exams['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [5]:
# return the relative frequency (divide all the values by the sum of the values)
df_exams['gender'].value_counts(normalize=True)

female    0.518
male      0.482
Name: gender, dtype: float64

In [6]:
# counting 'parental level of education' elements by catagory
df_exams['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [8]:
# return the relative frequency and round to 2 decimals
df_exams['parental level of education'].value_counts(normalize=True).round(2)

some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: parental level of education, dtype: float64