In [2]:
import pandas as pd
import numpy as np

# 1. Creating a dataframe from an array

## 1.1 Option 1

In [4]:
# creating an array
data = np.array([[1,4], [2,5],[3,6]])

In [7]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], columns=['col1', 'col2'])

In [9]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

## 1.2 Option 2

In [15]:
# creating an array
another_data = [[1,4], [2,5],[3,6]]

In [13]:
# creating a data frame
another_df = pd.DataFrame(another_data, index=['row1','row2','row3'], columns=['col1', 'col2'])

In [17]:
# showing data frame
another_df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# 2. Creating dataframes from a dictionary

In [24]:
# lists used for this example
states = ['California', 'Texas', 'Florida', 'New York']
population = [3956566, 65465435, 654654, 121156465]

In [25]:
# storing lists within a dictionaries
dict_states = {'States' : states, 'population' : population}

In [26]:
# creating a dataframe
df_population = pd.DataFrame(dict_states)

In [1]:
# showing the dataframe
df_population

NameError: name 'df_population' is not defined

# 3. Creating dataframe from CSV files

In [29]:
# reading the csv files
df_exams = pd.read_csv('StudentsPerformance.csv')

In [31]:
# showing first 5 rows
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75